body {
    text-align: center;
    margin-top: 10%;
    border-style: solid;
    margin-right: 20%;
    margin-left: 20%;
    padding: 5%;
}

input[type="submit"] {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
}